@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/home/salessummary",
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (r) {
                    if (r.status == "OK") {
                        var ctx = document.getElementById("myChart1").getContext("2d");
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: [
                                    {
                                        label: "Revenue By Item Group",
                                        fill: false,
                                        lineTension: 0.1,
                                        backgroundColor: "rgba(75,192,192,0.4)",
                                        borderColor: "rgba(75,192,192,1)",
                                        borderCapStyle: 'butt',
                                        borderDash: [],
                                        borderDashOffset: 0.0,
                                        borderJoinStyle: 'miter',
                                        pointBorderColor: "rgba(75,192,192,1)",
                                        pointBackgroundColor: "#fff",
                                        pointBorderWidth: 1,
                                        pointHoverRadius: 5,
                                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                        pointHoverBorderColor: "rgba(220,220,220,1)",
                                        pointHoverBorderWidth: 2,
                                        pointRadius: 1,
                                        pointHitRadius: 10,
                                        data: [],
                                        spanGaps: false,
                                    }
                                ]
                            },
                            options: {
                                tooltips: {
                                    mode: 'index',
                                    intersect: false
                                }
                            }
                        });
                        var labels = [];
                        var val = [];
                        $.each(r.items, (i, a) => {
                            labels.push(a.item);
                            val.push(a.revenue);
                        });
                        myChart.data.labels = labels;
                        myChart.data.datasets[0].data = val;
                        myChart.update();
                    } else
                        alert(`Error`);
                }
            });
        });
    </script>
}

<div class="container">
    <canvas id="myChart1" width="400" height="400"></canvas>
</div>
